@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/opensanslight.woff2) format("woff2");
}

@font-face {
  font-family: "Gilroy Light";
  src: url(../fonts/gilroylight.woff2) format("woff2");
}

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url(../fonts/gilroyextrabold.woff2) format("woff2");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy Extra Bold", Arial sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.font-opensanslight {
  font-family: "Open Sans Light", Arial sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.font-gilroylight {
  font-family: "Gilroy Light", Arial sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.uppercase {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.button {
  display: inline-block;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;

  background-color: transparent;
  background-image: linear-gradient(transparent 35%, #f0c52e 35%, #f0c52e 65%, transparent 65%);
  border: none;
  outline: none;
}

.logo {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;
}

.header-title.logo {
  position: absolute;
  top: -24px;
  left: 59px;
}

.main-header {
  position: relative;

  margin-top: 40px;
  padding: 43px 60px 30px 60px;

  background-color: #f7e296;
}

.main-header a {
  color: #000000;
}

.main-header .row-top {
  display: flex;
  margin-bottom: 39px;
}

.search-form {
  width: 440px;
  margin-right: auto;
}

.search-form-button {
  background-color: transparent;
  border: none;
}

.main-header .user-nav {
  width: 240px;
  padding-left: 30px;
}

.user-authorized {
  display: none;
}

.user-authorized .logout {
  margin-left: 15px;
}

.main-header .compare {
  width: 80px;
  padding-left: 30px;
  margin-left: 11px;
}

.main-header .cart {
  width: 70px;
  margin-left: 13px;
  padding-left: 30px;
  text-align: end;
}

.main-header .row-middle {
  display: flex;
  margin-bottom: 21px;
}

.main-header .delivery {
  width: 140px;
}

.main-header .guarantee {
  width: 140px;
  margin-left: 20px;
}

.main-header .contacts {
  width: 140px;
  margin-left: 60px;
  text-align: end;
}

.catalog-title {
  width: 220px;
  margin: 0;
  margin-right: 3px;
}

.plus {
  width: 30px;
  margin-right: auto;

  background-color: transparent;
  border: none;
  outline: none;
}

.main-header .row-bottom {
  position: absolute;
  top: 160px;
  left: 0;

  width: 1160px;

  background-color: #f7e296;
}

.catalog-menu {
  display: none;
}

.catalog-menu.active {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-bottom: 30px;
}

.catalog-menu .column:first-child {
  margin-right: 40px;
}

.catalog-menu .catalog-item {
  display: block;
  width: 200px;
  margin-bottom: 6px;
}

.offer-slide {
  min-height: 480px;
}

.slide-list {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  list-style: none;
}

.slide-item {
  display: none;
}

.slide-item.current {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  min-height: 490px;
  margin: 0;
  padding: 0;

  background-image: linear-gradient(#f7e296 23%, #ffffff 23%);
}

.slide-image-wrapper {
  width: 560px;
  text-align: center;
}

.slide-wrapper {
  width: 500px;
  padding-top: 80px;
  padding-right: 60px;
}

.slide-item .line {
  position: absolute;
  top: 265px;
  right: 554px;

  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slide-item .number {
  position: absolute;
  top: 214px;
  right: 144px;

  font-size: 179px;
  line-height: 179px;
  color: #ffffff;
}

.slide-title {
  font-size: 47px;
  line-height: 56px;
}

.slide-text {
  margin: 0;
  color: #464646;
}

.parameters-data {
  font-size: 36px;
  line-height: 48px;
}

.parameters-description {
  font-size: 13px;
  line-height: 20px;
}

.catalog-popular {
  margin-bottom: 160px;
}

.catalog-popular .catalog-list {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-popular .catalog-item a {
  display: flex;
  flex-direction: column;
  color: #000000;
}

.catalog-popular .catalog-item-img {
  width: 160px;
  height: 160px;
  margin-bottom: 35px;

  background-color: #f0c52e;
}

.catalog-popular .catalog-item-title {
  width: 160px;
}

.popular-1 .catalog-item-img {
 background-image: url(../img/popular-1.svg);
 background-repeat: no-repeat;
 background-position: center;
}

.popular-2 .catalog-item-img {
 background-image: url(../img/popular-2.svg);
 background-repeat: no-repeat;
 background-position: center;
}

.popular-3 .catalog-item-img {
 background-image: url(../img/popular-3.svg);
 background-repeat: no-repeat;
 background-position: center;
}

.popular-4 .catalog-item-img {
 background-image: url(../img/popular-4.svg);
 background-repeat: no-repeat;
 background-position: center;
}

.popular-5 .catalog-item-img {
 background-image: url(../img/popular-5.svg);
 background-repeat: no-repeat;
 background-position: center;
}

.popular-6 .catalog-item-img {
 background-image: url(../img/popular-6.svg);
 background-repeat: no-repeat;
 background-position: center;
}

.services {
  position: relative;

  margin-bottom: 95px;
  padding-bottom: 112px;

  background-image: linear-gradient(#ffffff 7%, #e5e5e5 7%);
}

.services .container {
  display: flex;
  justify-content: space-between;
}

.services-list {
  display: flex;
  flex-direction: column;
  width: 277px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.services-list li {
  width: 160px;
  margin-bottom: 25px;
  padding: 8px 0;
  cursor: pointer;
}

.services-list .active {
  padding-right: 117px;
  color: #f7e184;

  background-image: linear-gradient(#000000 100%, #000000 100%);
  /* background-color: #000000;
  background-image: none; */
}

.services .line {
  position: absolute;
  top: -80px;
  left: 372px;
  width: 7px;
  height: 320px;

  background-color: #000000;
}

.services-item {
  display: none;
}

.services-item.current {
  display: block;
  width: 460px;
  padding-right: 300px;
}

.services-item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  font-size: 47px;
  line-height: 56px;
}

.services-item p {
  margin: 0;
}

.logotypes {
  margin-bottom: 87px;
}

.logotypes-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  opacity: 0.2;
}

.cabinet {
  display: flex;
  justify-content: space-between;
}

.info,
.contacts {
  width: 560px;
}

.info .line,
.contacts .line {
  width: 80px;
  height: 7px;
  margin-bottom: 45px;

  background-color: #000000;
}

.info-title,
.contacts-title {
  margin: 0;
  margin-bottom: 43px;
  font-size: 47px;
  line-height: 48px;
}

.info-description {
  margin: 0;
  margin-bottom: 30px;
}

.transport-companies {
  margin: 66px 25px 62px;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  list-style: none;
}

.contacts-description {
  margin: 0;
  margin-bottom: 40px;
}

.contacts .mini-map {
  display: block;
  margin-bottom: 70px;
}

.main-footer {
  margin-top: 90px;
  color: #ffffff;

  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.footer-title.logo {
  color: #ffc600;
}

.main-footer .row-top {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  line-height: 36px;
}

.main-footer .row-middle {
  display: flex;
  justify-content: space-between;
}

.row-middle p {
  margin: 0;
}

.main-footer .delivery,
.main-footer .guarantee,
.main-footer .contacts {
  font-size: 18px;
  line-height: 24px;
}

.main-footer .row-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  list-style: none;

  opacity: 0.3;
}

.modal-write-us {
  display: none;
}

.modal-write-us {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -260px;
  margin-left: -480px;

  width: 760px;
  height: 390px;
  padding: 80px 100px;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.modal-write-us .modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.modal-write-us input,
.modal-write-us textarea {
  font-size: 14px;
  line-height: 18px;
  resize: none;

  background-color: #f2f2f2;
}

.modal-write-us .label-modal {
  display: block;
}

.modal-write-us .input-modal {
  width: 360px;
  min-height: 50px;
}

.modal-write-us .textarea-modal {
  width: 760px;
  min-height: 156px;
}

.modal-map {
  display: none;
}

.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -260px;
  margin-left: -480px;

  width: 960px;
  height: 559px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.modal-close {
  background-color: #f0c52e;
  border: none;
  opacity: 0.5;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  list-style: none;
  opacity: 0.3;
}

.filter-sidebar {
  background-color: #efefef;
}

.filter-title,
.sorting-title {
  font-size: 16px;
  line-height: 24px;
}

.sorting-list {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sort-button {
  border: none;
}

.filter-title {
  background-color: #dcdcdc;
}

.price-title,
.color-title,
.bluetooth-title {
  font-size: 18px;
  line-height: 24px;
}

.color-list,
.bluetooth-list {
  list-style: none;
}

.price-controls {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.2;
}

.product-image {
  background-color: #efefef;
}

.in-compare {
  font-size: 13px;
  line-height: 36px;
  opacity: 0.5;
}

.product-price {
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.pagination-list {
  list-style: none;
}

.pagination-button a {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

/* стили для catalog */

.inner-page .user-authorized,
.inner-page .user-authorized {
  display: block;
}

.inner-page .user-unauthorized,
.inner-page .user-unauthorized {
  display: none;
}

.inner-page .row-bottom {
  min-height: 0;
}

.inner-wrapper {
  display: flex;
}

.inner-page .filter-sidebar {
  width: 328px;
  margin-right: 72px;
}

.inner-page .products-wrapper {
  width: 760px;
}

.inner-page .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
